@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@inject GaleriaDBContext db;

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Fabricantes
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/Fabricante/Create">Cadastrar Fabricante</a></li>
        <li><a class="dropdown-item" href="/Fabricante">Editar Fabricantes</a></li>
    </ul>
</li>